* {
    padding: 0;
    margin: 0;
  }

  body {
    background: #29282D;
    font-family: 'opensans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
  }
  
  ul li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  p {
    margin-top: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }

 img {
   display: block;
   max-width: 100%;
 }