.menu__list {
    font-size: 14px;
    display: flex;
  }
  
  .menu__item {
    margin-right: 55px;
  }
  
  .menu__item:last-child {
    margin-right: 0;
  }
  
  .menu__link:hover {
    color: #D3A557;
  }